
{% extends 'homepage/base.html' %}
{% load caps %}
{% block content %}
{% if profiles %}
<div class='row justify-content-center'>
    <h6><strong> Newest accounts</strong></h6>
</div>
{% endif %}

<div class='row justify-content-center'  id='profile'>
{% for profile in profiles %}
<div class='col-3 padding-0'>
    <div class='card text-center'>

        <a href="{% url 'public-profile' profile.user.username %}" id='author-link'>
            <img class='rounded-circle like-image' src="{{profile.image.url}}">
            <br>
            {{profile.user.username}}
        </a>


            {% if profile.user.username in followlist %}
                <button type="button" id='{{ profile.user.pk }}' class="btn btn-secondary follow" bool='true' >Following</button>
            {% else %}
                <button type="button" id='{{ profile.user.pk }}' class="btn follow-button follow" bool='false'>Follow</button>
            {% endif %}



</div>
</div>
{% endfor %}
</div>


<div><b id='explore-text'>Explore</b></div>

    <div class="row" id='profile'>
        {% for p in posts %}
            <div class='col-4 padding-0'>
                <div class='card'>
            {% if p.images.count > 1 %}
                {% for image in p.images.all %}
                    {% if forloop.counter0 == 0 %}
                        <a href="{% url 'post-detail' p.id %}" id="detail-link">
                            {% with image_url=image.modelimage.url %}
                            {% with media_type=image_url|get_media_type %}
                                {% if media_type == 'video' %}
                                    <video width="500px" height="500px" controls autoplay muted class="d-block w-100">
                                        <source src="{{ image_url }}" type='video/mp4'>
                                        Your browser does not support the video tag.
                                    </video>
                                {% elif media_type == 'image' %}
                                    <img src="{{ image_url }}" class="fit-image" alt="image">
                                {% else %}
                                    <!-- Handle other media types or errors as needed -->
                                {% endif %}
                            {% endwith %}
                            {% endwith %}
                        </a>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for image in p.images.all %}
                    <a href="{% url 'post-detail' p.id %}" id="detail-link">
                        {% with image_url=image.modelimage.url %}
                        {% with media_type=image_url|get_media_type %}
                            {% if media_type == 'video' %}
                                <video width="500px" height="500px" controls autoplay muted class="d-block w-100">
                                    <source src="{{ image_url }}" type='video/mp4'>
                                    Your browser does not support the video tag.
                                </video>
                            {% elif media_type == 'image' %}
                                <img src="{{ image_url }}" class="fit-image" alt="image">
                            {% else %}
                                <!-- Handle other media types or errors as needed -->
                            {% endif %}
                        {% endwith %}
                        {% endwith %}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
        {% endfor %}
    </div>

{% endblock content %}


