{% extends 'homepage/base.html' %}
{% load caps %}
{% load humanize %}
{% block content %}
    <a href="{% url 'public-profile' p.author.username %}" id="author-link">
        <img class="rounded-circle article-img" src= "{{ p.author.profile.image.url }}">
        <strong>{{ p.author }}</strong>
    </a>
        {% if p.images.count != 1 %}
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
                <ol class="carousel-indicators">

                {% for i in p.images.all %}
                    {% if forloop.counter0 == 0 %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    {% else %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"></li>
                    {% endif %}
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for image in p.images.all %}
                    {% if forloop.counter0 == 0 %}
                        <div class="carousel-item active">
                            {% with image_url=image.modelimage.url %}
                            {% with media_type=image_url|get_media_type %}
                                {% if media_type == 'video' %}
                                    <video width="500px" height="500px" controls autoplay class="d-block w-100">
                                        <source src="{{ image_url }}" type='video/mp4'>
                                        Your browser does not support the video tag.
                                    </video>
                                {% elif media_type == 'image' %}
                                    <img src="{{ image_url }}" class="fit-image" alt="image">
                                {% else %}
                                    <!-- Handle other media types or errors as needed -->
                                {% endif %}
                            {% endwith %}
                            {% endwith %}
                        </div>

                    {% else %}
                        <div class="carousel-item">
                            {% with image_url=image.modelimage.url %}
                            {% with media_type=image_url|get_media_type %}
                                {% if media_type == 'video' %}
                                    <video width="500px" height="500px" controls autoplay class="d-block w-100">
                                        <source src="{{ image_url }}" type='video/mp4'>
                                        Your browser does not support the video tag.
                                    </video>
                                {% elif media_type == 'image' %}
                                    <img src="{{ image_url }}" class="fit-image" alt="image">
                                {% else %}
                                    <!-- Handle other media types or errors as needed -->
                                {% endif %}
                            {% endwith %}
                            {% endwith %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
        </div>

    {% else %}
        {% for image in p.images.all %}
                <div>
                    {% with image_url=image.modelimage.url %}
                    {% with media_type=image_url|get_media_type %}
                        {% if media_type == 'video' %}
                            <video width="500px" height="500px" controls autoplay class="d-block w-100">
                                <source src="{{ image_url }}" type='video/mp4'>
                                Your browser does not support the video tag.
                            </video>
                        {% elif media_type == 'image' %}
                            <img src="{{ image_url }}" class="fit-image" alt="image">
                        {% else %}
                            <!-- Handle other media types or errors as needed -->
                        {% endif %}
                    {% endwith %}
                    {% endwith %}
                </div>
        {% endfor %}

    {% endif %}


    {% for i in p.likes.all %}
        {% if user == i.liker %}
            <a class='likebutton' data-catid="{{ p.id }}"><i id='like{{ p.id }}' class="btn fas fa-heart fa-lg post-buttons" style="color: #ee9595"></i></a>
        {% elif forloop.last %}
            <a class='likebutton' data-catid="{{ p.id }}"><i id='like{{ p.id }}' class="btn far fa-heart fa-lg post-buttons " style="color: #ee9595"></i></a>
        {% endif %}

    {% empty %}
        <a class='likebutton' data-catid="{{ p.id }}"><i id='like{{ p.id }}' class="btn far fa-heart fa-lg post-buttons " style="color: #ee9595"></i></a>

    {% endfor %}


        <a href="{% url 'comment-form' p.id %}" id="coment-link"><i class="far fa-comment fa-lg post-buttons" style="color: #ee9595"></i></a>

        {% if p.author == user %}

            <button class="btn btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-h post-buttons" style="color: #ee9595"></i>
            </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'post-update' p.id %}">Update</a>
                    <a class="dropdown-item" href="{% url 'post-delete' p.id %}">Delete</a>
                </div>

        {% endif %}




        <a href="{% url 'likes-list' p.id %}" id="author-link">
            <div>
                <b id='likecount{{p.id}}'>

                {% if p.likes.count == 1 %}
                    {{p.likes.count}} like
                {% elif p.likes.count > 1 %}
                    {{p.likes.count}} likes
                {% else %}
                {% endif %}
                </b>
            </div>
        </a>


        <div class='mb-0'><p class='mb-0'><a href="{% url 'public-profile' p.author.username %}" id="author-link"><b>{{ p.author }}</b></a> {{ p.caption }}</p></div>
        <div id='postdivider'>
                <p id="post-detail-time">
                    <small>{{ p.date_posted|naturaltime|upper }}</small>
                </p>
        </div>


        <div>

        {% for comment in p.comments.all reversed %}
        <div>
            <a href="{% url 'public-profile' comment.author.username %}" id="author-link" id="author-link">
                <b>  {{ comment.author }}</b>
            </a>
            {{ comment.content }}
            <small>{{ comment.date_created|naturaltime|upper }}</small>
            {% if comment.author == user %}

                <button class="btn btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-h post-buttons" style="color: #ee9595"></i>
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'comment-update' comment.id %}">Update</a>
                        <a class="dropdown-item" href="{% url 'comment-delete' comment.id %}">Delete</a>
                    </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
        </div>
{% endblock content %}
