{% extends 'homepage/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='container'>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class='border-bottom mb-4 text-center'>Log In and share the wedding photos, the good ones!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class='form-group'>
                <button class='btn btn-outline-info' type='submit' >Login</button>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">
                        Forgot your password?
                    </a>
                </small>
            </div>
        </form>
        <div class='border-top pt-3'>
            <small class='text-muted'>
            Don't Have An Account <a class='ml-2' href='{% url 'register' %}'>Sign Up Now</a>
        </small>
        </div>

    </div>
{% endblock content %}
